<div id="<%= dom_id unit_of_measurement %>">
  <p>
    <strong>Name:</strong>
    <%= unit_of_measurement.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= unit_of_measurement.quantity %>
  </p>

</div>
